body {
	background-color: #5D6B99;
	font-family: sans-serif;
}

.blueDarkerBackground {
	background-color: #40568D;
}

.blueDarkBackground {
	background-color: #5D6B99;
}

td {
	padding: 0px;
}

tr 
{
	/*vertical-align:top;*/

}
button {
	background-color: transparent;
	/*border: 1px solid yellow;*/
	border: none;
	height: 85%;
/*	margin: 4px 4px 0px 4px;
*/	margin: 0px;
	padding: 0;
}

	button:active {
		background-color: dodgerblue;
	}

	button:hover {
		background-color: deepskyblue;
	}

	button:disabled {
		/*	background-color: dimgrey;*/

		opacity: 0.3;
	}

.ausgabe {
	margin: 2px;
	padding: 4px;
	color: white;
}

.talog {
	font-family: Consolas, monospace;
	margin: 2px;
	padding: 4px;
	background-color: white;
	/*	width: 100%;
*/ height: 25vh;
	overflow: scroll;
}

.tbbImage {
	height: 35px;
	max-width: 100%;
	object-fit:fill;
}

#menuBar {
	height: 35px; 
	max-height: 40px;
	width: 100%;
	background-color: #CCD5F0;
	margin: 0px 0 4px 0;
	padding: 0px;
/*	display:flex;*/
	
}

#td-menu-left {
	max-height: 40px;

	object-fit: contain;
	vertical-align: middle;
	border-top: 8px solid transparent;
	white-space: nowrap;
	
}
#td-menu-right {
	max-height: 40px;
	vertical-align: middle;
	text-align:right;
	padding-right:10px;
}

.menu-row{
	padding:0px;
	margin:0px;

}

#selTest {
	width: 80px;
	vertical-align: top;
	margin: 10px 5px 0px 5px;
	
}

#rangeSpeed {
	width: 140px;
	vertical-align: top;
	margin: 10px 5px 0px 5px;
}

#editor {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 14pt;
}

@keyframes example {

	0% {
		background-color: darkblue;
		top: 0px;
	}

	50% {
		background-color: darkviolet;
		top: 200px;
	}

	100% {
		background-color: darkblue;
		top: 0px;
	}
}

#waitDiv {
	position: relative;
	top: 200px;
	color: lightyellow;
	font-size: 24pt;
	margin: auto;
	width: 60%;
	border: 3px solid yellow;
	padding: 10px;
	text-align: center;
	background-color: darkslateblue;
}

.loader {
	margin: 10px auto 10px auto;
	border: 20px solid #EAF0F6;
	border-radius: 50%;
	border-top: 20px solid #b51f76;
	width: 200px;
	height: 200px;
	animation: spinner 4s linear infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.puzzTitle
{
	font-size:130%;
}

.puzzText
{

}

#puzzInputDiv
{
	width:60vw;
	height:60vh;
	margin:auto;
	background-color:lightgray;
	padding:10px;
}

#puzzleInputText {
	width: 100%;
	height: 400px;
	font-size: 12pt;
}

#puzzInput_btnOk
{
	font-size:200%;
	border: 2px solid;
	border-color:black;
	margin-top:5px;
}

#puzzCanvasDiv {
	/*	position: relative;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
*/

	width: 100%;
	height: 50vh;
	margin: auto;
}


.compError {
	background: rgba(255, 50, 50, 0.3);
	position: absolute;
	/*	width: 100% !important;*/
	/*	left: 0 !important;*/
}



.ace_variable.ace_language {
	color: rgb(16, 90, 180) !important;
}

.ace_string {
	color: rgb(163, 21, 21) !important;
}

.ace_support.ace_function { /* puzzle function */
	color: rgb(147, 102, 38) !important;
}

.ace_keyword {
	color: rgb(175, 0, 219) !important;
}

.ace_keyword.ace_operator {
	color: black !important;
}

.ace_storage.ace_type {
	color: rgb(0, 48, 255) !important;
}

.ace_comment {
	color: rgb(0, 128, 00) !important;
}