@page "/"


<div>Menu bar</div>


<table style="height:100%;width:100%">
    <tr style="height:80%">
        <td style="width:60%">
            <textarea id="mainEditor" spellcheck="false" >
              repeat(3)
{
  print("Hallo Puschel");
}

            </textarea>

        </td>
        <td width="40%" style="vertical-align:top; padding:8px" ><PuzzleView></PuzzleView> </td>
    </tr>
    <tr style="height:20%">
        <td colspan="2"><LoggerView></LoggerView></td>
    </tr>
</table>

<script>


</script>

@code
{

}