
.blueDarkerBackground {
	background-color: #40568D;
}

.blueDarkBackground {
	background-color: #5D6B99;
}

body {
	background-color: #5D6B99;
	font-family: sans-serif;
}

td {
	padding: 4px;
}

button {
	background-color: transparent;
	/*border: 1px solid yellow;*/
	border: none;
	height: 85%;
	margin: 2px 4px 0px 4px;
	padding: 0;
}

	button:active {
		background-color: dodgerblue;
	}

	button:hover {
		background-color: deepskyblue;
	}

	button:disabled {
		/*	background-color: dimgrey;*/

		opacity: 0.3;
	}

.ausgabe {
	margin: 2px;
	padding: 4px;
	color: white;
}

.talog {
	font-family: Consolas, monospace;
	margin: 2px;
	padding: 4px;
	background-color: white;
	/*	width: 100%;
*/ height: 25vh;
	overflow: scroll;
}

.tbbImage {
	height: 100%;
	width: 100%;
}

#menuBar {
	height: 40px; 
	width: 100%;
	background-color: #CCD5F0;
	margin: 0px;
	padding: 0px;
	display:flex;
}

#editor {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 14pt;
}

@keyframes example {

	0% {
		background-color: darkblue;
		top: 0px;
	}

	50% {
		background-color: darkviolet;
		top: 200px;
	}

	100% {
		background-color: darkblue;
		top: 0px;
	}
}

#waitDiv {
	position: relative;
	top: 200px;
	color: lightyellow;
	font-size: 24pt;
	margin: auto;
	width: 50%;
	border: 3px solid yellow;
	padding: 10px;
	text-align: center;
	background-color: darkslateblue;
	animation-name: example;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}

.puzzTitle
{
	font-size:130%;
}

.puzzText
{

}

#puzzInputDiv
{
	width:60vw;
	height:60vh;
	margin:auto;
	background-color:lightgray;
	padding:10px;
}

#puzzleInputText {
	width: 100%;
	height: 400px;
	font-size: 12pt;
}

#puzzInput_btnOk
{
	font-size:200%;
	border: 2px solid;
	border-color:black;
	margin-top:5px;
}

#puzzCanvasDiv
{
/*	position: relative;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
*/	width:100%;
	height:70%;
	margin:auto;
}

#selTest {
	width: 80px;
	vertical-align: middle;
	margin: 0 10px 20px 10px;

}
